.search-bar{
    border: none;
    outline: none;
    line-height: 1.5rem;
    background: none;
    width: 15vw;
    padding-left: 10px;
    color: white;
}

.search-icon{
    color: white;
    float: right;
    padding-right: 10px;
    padding-left: 5px;
}

.searchContainer{
    border-radius: 10px;
    background-color: rgb(83, 83, 83);
    display: flex;
    align-items: center;
    pointer-events: none;
}

.searchBarData{
    position: absolute;
    z-index: 99;
    width: 15%;
    height: 30rem;
    background-color: rgb(187, 187, 187);
    color: black;
    overflow: hidden;
    overflow-y: scroll;
    top: 4%;
    flex-direction: column;
    display: flex;
    align-items: center;
    pointer-events: none;
}

.pokeNames{
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.searchBarData::-webkit-scrollbar { 
    display: none;
}

.pokeImages{
    display: none;
}

.searchHistory{
    cursor: pointer;
    position: relative;
    z-index: 99;
}
